<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianjing.collect.dao.CollectMapper">
    <resultMap id="collectResultMap" type="com.qianjing.collect.domain.Collect">
        <id property="collectId" column="collect_id"/>
    </resultMap>
    
<!--    List<Collect> selectCollectsByTaskId(Integer taskId);-->
    <select id="selectCollectsByTaskId" resultType="com.qianjing.collect.domain.Collect">
        select * from tb_collect where task_id = #{taskId} and status != -1 order by stu_no
    </select>

<!--    int insertCollect(Collect collect);-->
    <insert id="insertCollect">
        insert into tb_collect(task_id,doc_url,stu_no) values(#{task.taskId},#{docUrl},#{stuNo})
    </insert>
</mapper>